<footer class="footer">
    <div class="alinhamento">
        <div class="info">
            <ul>
                <li>
                    <a href="">TRABALHE CONOSCO</a>
                </li>
                <li>
                    <a href="">CONTATE-NOS</a>
                </li>
                <li>
                    <a href=""><img src="..\Imagens\midias sociais.png" alt="midias sociais"></a>
                </li>
            </ul>
        </div>
        <div class="cartoes">
            <img src="..\Imagens\meios-de-pagamento-2x.png" alt="meios de pagamento">
        </div>
    </div>
  </footer>
    <script src="../JS/main.js"></script>
  </main>
    
  </body>
  </html>