<footer>

    <div class="container-footer">

        <div class="footer-information content-space">
            <nav class="container-box">
                
                <a href="#">TRABALHE CONOSCO</a>
                <a href="#">CONTATE-NOS</a>
                <a href="#"><img src="/images/iconeSocialMediaBranco.png"></a>
                    
            </nav>
    
            <div class="cartoes">
                 <img src="/images/cards.png" alt="Formato de pagemtno">                
            </div>
        </div>
        

    </div>

    <div class="footer-bg-bottom">

        <div class="copyright">
            <p>Criado pelo Grupo 4 da TN 15-22 da DH</p>
        </div>
        
        <div class="image-copyright">
            <img src="/images/logoDH.png" alt="Logo da Digital House">
        </div>
        
    </div>
</footer>
</body>
</html>