<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/calendario.css" rel="stylesheet">
  <link href="../css/reset.css" rel="reset">
  <title>serviços1</title>
</head>
<body>

  <header>
     
    <div class="logo1"><div class="logo"><img id="simbol" src="../imagens\Logo Azul.png" alt=""> </img></div></div>
    <div class="logo2">
    <div class="login"><button id="botao_login"> LOGIN </button></div>
    <div class="carrinho"><button id="botao_carrinho"> CARRINHO </button></div>
    <div class="image0"><img  src="../imagens\Carrinho.png" alt=""></div> 
    </div> 
  </header>