<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Omnihouse</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/theme.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    <body>
        <header>

                <div class="nav-menu content-space">
                    <div class="logo-header">
                        <a href="/"><img src="images/logoAzul.png"></a>
                    </div>
                    <div class="login-carrinho">
                        <a href="#">LOGIN</a> 
                        <a href="/carrinho">CARRINHO<img src="images/iconeCarrinho.png" alt="carrinho"></a>                     
                    </div>
                </div>

                <div class="container-nav-header">
                    <nav class="nav-header content-space">
                        <div class="home-sobre">
                            <a href="/">HOME</a>
                            <a href="/servicos">SERVIÇOS</a>
                            <a href="#">SOBRE NÓS</a>
                        </div>                    
                        <div class="search">                        
                            <input type="input" placeholder="Pesquisar"></input>
                        </div>
                    </nav> 
                </div>
        </header>
