<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/styleLogin.css">
    <title>Omnihouse - Login</title>
</head>
<body>
    <header>

        <div class="container-header">
            <a href="/" alt="Logo da Omnihouse">
                <img src="/images/logoBranca.png" alt="Logo da Omnihouse">
            </a>
            
        </div>
            
    </header>
    
    <main>
        <div class="container-main">
            <section class="login">
                <h1 class="title">
                    FAÇA O SEU LOGIN
                </h1>

                <form action="" method="POST" class="form-login">
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
   
                    <input type="password" name="senha" id="senha" placeholder="Senha" required>          
                    
                    <div class="salvarSenha">
                        <input type="checkbox" name="salvarSenha" id="salvarSenha">
                        <label for="salvarSenha">Salvar senha</label>
                    </div>

                    <div class="recuperarSenha">
                        <a href="#">Esqueci minha senha</a>
                    </div>
                        
                    <div class="botaoEntrar">
                        <input type="submit" value="ENTRAR">
                    </div>

                </form>

            </section>
    
            <!-- <section class="cadastro">

                <div class="titleCadastro">
                    <h1 class="title">
                        CADASTRE-SE
                    </h1>
                </div>
                
                <div class="container-form-cadastro">

                    <form action="" method="POST" class="form-cadastro">
                        <input type="text" name="nome" id="nome" placeholder="Nome completo" required>
                        <input type="email" name="emailCadastro" id="emailCadastro" placeholder="E-mail" required>
                        <input type="password" name="senhaCadastro" id="senhaCadastro" placeholder="Senha" required>
                        <input type="text" name="cep" id="cep" placeholder="CEP" required>
                        <input type="text" name="endereco" id="endereco" placeholder="Rua e número" required>
                        <input type="text" name="complemento" id="complemento" placeholder="Complemento">
                        <div class="fotoCadastro">
                            <label for="foto">
                                <img src="/images/iconeAnexo.png">Adicione sua foto de perfil
                            </label>
                            <input type="file" name="foto" id="foto">
                        </div>
                        <div class="botaoCadastro">
                            <input type="submit" value="CADASTRE-SE">
                        </div>
                    </form>

                </div>

            </section>  -->

        </div>
        
    </main>
    
    <footer>
        <section id="footer-top">
            <a href="#"> 
                <img src="/images/iconeSocialMediaBranco.png">
            </a>
        </section>

        <section id="footer-bottom">
            <div id="copyright">
                <p>Criado pelo Grupo 4 da TN 15-22 da DH</p>
            </div>
            
            <div id="image-copyright">
                <img src="/images/logoDH.png" alt="Logo da Digital House">
            </div>            
        </section>

    </footer>

</body>
</html>