<html>
<link rel="stylesheet" href="/stylesheets/styleCarrinho.css">

<%- include('../partials/header') %>

    <body>
        <main>
            <div class="title">
                <h1>
                    ESTE É O SEU CARRINHO
                </h1>

                <h2>
                    Confira se está tudo aqui e finalize a sua compra!
                </h2>
            </div>

            <section class="product-list">

                <div class="card">
                    <img src="">

                    <div class="card-title">

                    </div>

                    <div class="card-text">

                    </div>

                    <div class="card-value">

                    </div>
                </div>

                <div class="empty-cart">
                    <p>
                        Não existem serviços no carrinho!
                    </p>
                </div>

            </section>

        </main>

    </body>
    
<%- include('../partials/footer') %>

</html>