<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/homeStyle.css">


<main>
    <div class="banner">
        <img src="images/banner.jpg" alt="banner">
    </div>

    <section class="container-vitrine">
        <!-- container-vitrine: seção com todas as caixas dos serviços -->

        <div class="container-servicos">
            <!-- container-servicos: caixa de cada serviço -->
            <a href="/diarista">
                <img src="images/diarista.png">
                <p>DIARISTA</p>
            </a>
        </div>

        <div class="container-servicos">
            <a href="/encanador">
                <img src="images/encanador.png">
                <p>ENCANADOR</p>
            </a>
        </div>

        <div class="container-servicos">
            <a href="/dedetizador">
                <img src="images/dedetizador.jpg">
                <p>DEDETIZADOR</p>
            </a>
        </div>

        <div class="container-servicos">
            <a href="/eletricista">
                <img src="images/eletricista.jpg">
                <p>ELETRICISTA</p>
            </a>
        </div>

        <div class="container-servicos">
            <a href="/pedreiro">
                <img src="/images/pedreiro.jpg">
                <p>PEDREIRO</p>
            </a>
        </div>

        <div class="container-servicos">
            <a href="/jardineiro">
                <img src="/images/jardineiro.jpg">
                <p>JARDINEIRO</p>
            </a>
        </div>

        <div class="container-servicos">
            <a href="/chaveiro">
                <img src="/images/chaveiro.jpg">
                <p>CHAVEIRO</p>
            </a>
        </div>

        <div class="container-servicos">
            <a href="/montador">
                <img src="/images/montador.jpg">
                <p>MONTADOR</p>
            </a>
        </div>
        
    </section>

</main>


<%- include('../partials/footer') %>