html{
    background-color: rgba(29, 61, 115, 1);
}

/* LOGIN *//* LOGIN *//* LOGIN */
.container-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
}

.container-header img{
    height: 200px;
}

.title{
    color: rgba(29, 61, 115, 1);
    font-weight: bold;
    font-size: 25px;
}

/* CONTAINER FORMULARIO */ /* CONTAINER FORMULARIO */ /* CONTAINER FORMULARIO */ 
.formulario{
    width: 400px;
    min-height: 450px;
    padding: 30px 10px 30px 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

/* INÍCIO FORMULÁRIO */ 
.container-form{
    width: 90%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form img{
    max-height: 50px;
    max-width: 50px;
    padding: 10px;
}


.form input{
    border: 0.5px solid #1D3D73;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 15px 0px 0px;
    padding: 5px;
    height: 30px;
    width: 100%;
    font-size: 15px;
}

/* ESPAÇO DA FOTO */ 
.fotoPerfil{
    width: 100%;
}

.fotoPerfil img{
    height: 15px;
}

.fotoPerfil input{
    display: none;
}

.fotoPerfil label{
    width: 100%;
    cursor: pointer;
    /* display: block; */
    color: rgba(0, 133, 255, 1);
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BOTÃO SALVAR */ 
.botao-salvar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-salvar input{
    width: 225px;
    height: 45px;
    background: #1D3D73;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
    font-size: 15px;
}

.botao-salvar input:hover{
    background: #FFFFFF;
    color: #1D3D73;
    cursor: pointer;
    border: solid 1px #1D3D73;
}

/* BOTÃO VOLTAR */
.botao-voltar{
    margin-top: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.botao-voltar input{
    width: 100px;
    height: 30px;
    background: #1D3D73;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
    font-size: 12px;
}

.botao-voltar input:hover{
    background: #FFFFFF;
    color: #1D3D73;
    cursor: pointer;
    border: solid 1px #1D3D73;
}

/* FOOTER *//* FOOTER *//* FOOTER */
#footer-top{
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

#footer-top img{
    height: 20px;
}

#footer-bottom{
    background: #10274E;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-copyright img{
    max-width: 40px;
    max-height: 40px;
}

#copyright{
    color:#FFFFFF;
    font-size: 0.6em;
}
