main{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto !important;
}


img {
    max-width: 100%;
}

#banner img{
    max-width: 950;
    width: 100%;
    height: 300px;
    box-sizing: border-box; 
    object-fit: cover;
    object-position: 0% 15%; 
    box-shadow: 0px 0px 5px 0px gray;
}

.container-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.container-descricao > div{
    flex: 0 1 950px;
    border-radius: 5px;
}

#container-icone{
    background: #1D3D73;
    max-width: 15%;
    height: 150px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
}

.container-texto{
    background: #1D3D73;
    max-width: 80%;
    height: 150px;
    max-height: 150px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 10px;
}

.container-texto p{
    color: #FFFFFF;
}

#container-secundario{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 5px;
}

/* MAIN: AGENDAMENTO */

#left-side{
    max-height: 500px;
    max-width: 50%;
    /* background: #CCCCCC; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#container-agendamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}

#titulo-agendamento{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #1D3D73;
    color: #FFFFFF;
    padding: 10px;
}

#calendario-agendamento{
    text-align: center;
    width: 100%;
}

#calendario-agendamento input{
    height: 50px;
    width: 200px;
    border: solid 2px #10274E;
    color: #10274E;
}

#calendario-style{
    height: 30px;
    width: 200px;
}

#visita{
    display: flex;
    column-gap: 10px;
}

#icone{
    width: 120px;
    height: 120px;
    background: #1D3D73;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#txt-visita{
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#button button{
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10274E;
    margin: 0 auto;
}

#button button:hover{
    cursor: pointer;
}

#txt-visita P{
    font-weight: bold;
    font-size: 30px;
    color: #1D3D73;
}

/* VALOR */

#right-side{
    height: 300px;
    max-width: 35%;
    background: #1D3D73;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    row-gap: 25px;

}

#valor h1{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

#txt p{
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
} 
