#container-title{
    width: 70%;
    margin: auto;
}

#title{
    /* padding-left: 60px; */
    padding-top: 15px;
    margin: 35px 0 25px;
    font-weight: bold;
    text-align: left;
    color: #1D3D73;
    font-size: 2em;    
}

.container-all{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    padding: 30px;
    
    max-width: 45%;
    box-sizing: border-box;
    
    border: 0.2px solid rgba(29, 61, 115, 1);
}

.avatar{
    max-height: 180px;
    max-width: 250px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.39);
}

.container-formPerfil{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.container-formPerlfi input{
    border: 0.5px solid rgba(29, 61, 115, 1);
    height: 25px;
    width: 80%;
}

.label{
    color: #1D3D73;
    width: 85%;
}

.alterarFoto{
    position:absolute;
    margin-top:320px;
    margin-left:70px;
    font-family: 'Inter';
    font-style: normal;
    color:black;
    font-weight: 420;
    font-size: 20px;
    padding:10px 30px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;    

}

#div-botoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    column-gap: 50px;
}

.botao{
    color:black;
    font-size: 15px;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px; 
}

#normalFlag:hover{
    color:white;
    background-color:#1D3D73;
    cursor: pointer;
}

#redFlag:hover{
    color:white;
    background-color:#DC143C;
    border-color: #DC143C;
    cursor: pointer;
}