html{
  background-color: #F5F5F5;
}

main{
  max-width: 1000px;
  color: #1D3D73;
  margin: 0 auto !important;
}

h1{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title{
  padding: 45px;
  text-align: center;
}

.product-list{
  border: 1px solid #1D3D73;
  padding: 30px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

/* .card{

}

.card img{

}

.card-text{

}

.card-value{

} */

.empty-cart p{
  font-size: 25px;
  font-weight: bold;
}