<!-- HEAD -->
<head>
    <link href="/stylesheets/styleAgendamento.css" rel="stylesheet">
</head>
<!-- HEAD -->

<html>
<!-- HEADER -->
<%- include('../partials/header') %>
<!-- HEADER -->

    <main>

        <div id="banner">
            <img src="/images/montadorBanner.png" alt="Banner do serviço">
        </div>

        <div class="container-descricao">

            <div id="container-icone">
                <img src="/images/iconeDiarista.png" alt="Icone do serviço">
            </div>

            <div class="container-texto">
                <p class="txt_servico">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

        <div id="container-secundario">

            <div id="left-side">
                <div id="visita">
                    <div id="icone">
                        <img src="/images/iconeVisitante.png" alt="icone de visita"> 
                    </div>
                    <div id="txt-visita">
                        <p>AGENDE UMA VISITA</p>
                    </div>
                    
                </div>

                <div id="container-agendamento">

                    <div id="titulo-agendamento">
                        <label for="agendamento">AGENDAMENTO</label>
                    </div>
                    
                    <div id="calendario-agendamento">
                        <input type="datetime-local" id="agendamento" name="agendamento" min="2022-10-01T08:00"
                    max="2023-01-30T17:00" required id="calendario-style">

                    </div>

                    <div id="button">
                        <button type="submit">AGENDAR</button>
                    </div>

                </div>
            </div>

            <div id="right-side">
                <div id="valor">
                    <h1>R$ 49,90</h1>                    
                </div>

                <div id="txt">
                    <p>PELO PERÍODO DE X HORAS</p>
                </div>

            </div>
        </div>




    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
        <!-- FOOTER -->

</html>