<html>

    <%- include('../../partials/header') %>

    <link rel="" href="">

        <body>
            <main>
                
                
                
                <!-- <form action="" method="post">            
                    <input type="text" name="nomeEndereco" id="nomeEndereco" placeholder="Identificação *" required>
                    <input type="text" name="cep" id="cep" placeholder="CEP *" required>
                    <input type="text" name="logradouro" id="logradouro" placeholder="Logradouro *" required>
                    <input type="text" name="numeroCasa" id="numeroCasa" placeholder="Número *" required>
                    <input type="text" name="complemento" id="complemento" placeholder="Complemento">
                    <input type="text" name="referencia" id="referencia">
                    <input type="text" name="bairro" id="bairro" placeholder="Bairro *" required>
                    <input type="text" name="cidade" id="cidade" placeholder="Cidade *" required>
                    <input type="text" name="estado" id="estado" placeholder="Estado *" required> 
                </form>               -->
            </main>
        </body>

    <%- include('../../partials/footer') %>

</html>