<%- include('../partials/header') %>

<link rel="stylesheet" href="/stylesheets/homeStyle.css">

<main>
    <section class="banner">
        <img src="images/banner.jpg" alt="banner">
    </section>
    <section class="servicos1">
        <div id="diarista">
            <img src="images/diarista.png" alt="diarista">
            <div class="labeldiarista">DIARISTA</div>
        </div>
        <div id="encanador">
            <img src="images/encanador.png" alt="encanador">
            <div class="labelencanador">ENCANADOR</div>
        </div>
        <div id="dedetizador">
            <img src="images/dedetizador.jpg" alt="dedetizador">
            <div class="labeldedetizador">DEDETIZADOR</div>
        </div>
        <div id="eletricista">
            <img src="images/eletricista.jpg" alt="eletricista">
            <div class="labeleletricista">ELETRICISTA</div>
        </div>
    </section>
    <section class="servicos2">
        <div id="pedreiro">
            <img src="images/pedreiro.jpg" alt="pedreiro">
            <div class="labelpedreiro">PEDREIRO</div>
        </div>
        <div id="jardineiro">
            <img src="images/jardineiro.jpg" alt="jardineiro">
            <div class="labeljardineiro">JARDINEIRO</div>
        </div>
        <div id="chaveiro">
            <img src="images/chaveiro.jpg" alt="chaveiro">
            <div class="labelchaveiro">CHAVEIRO</div>
        </div>
        <div id="montador">
            <img src="images/montador.jpg" alt="montador">
            <div class="labelmontador">MONTADOR</div>
            <div class="labelmoveis">DE MOVEIS</div>
        </div>
    </section>
</main>


<%- include('../partials/footer') %>