<%- include('../partials/header') %>

<!-- Teste de altura da página, apagar quando inputar informações -->
<style>
    MAIN{
        height: 500px;
    }
</style>
<!-- Teste de altura da página, apagar quando inputar informações -->

<main>
</main>

<%- include('../partials/footer') %>