
<%- include('../partials/header') %>

<head>
    <link href="stylesheets/stylePerfil.css" rel="stylesheet">
</head>

    <main>
        <div class='meiuca'>
            <div class="title">
                <h1 class="perfilUser">ESSE É O SEU PERFIL OMNI</h1>
            </div>
            
            <div class="caixa">
                <button class="alterarFoto">ALTERAR FOTO</button>
                <img class="carinha" src="images/OIP.jpg" alt="">
                <h1 class="nome">Nome</h1>
                <h1 class="email">E-mail</h1>
                <h1 class="senha">Senha</h1>
                <h1 class="rua">Rua</h1>
                <h1 class="número">Nº</h1>
                <h1 class="cep">CEP</h1>
                <h1 class="CPF">CPF</h1>
                <button class="salvarAlteras">SALVAR ALTERAÇÕES</button>
            </div>

        </div>

    </main>

<%- include('../partials/footer') %>