<%- include('../partials/header') %>

<link rel="stylesheet" href="/stylesheets/servicosPrincipal.css">

<main>
            
    <h1 id="titulo-vitrine"><p>ESCOLHA UM</p><p>DE NOSSOS SERVIÇOS</p></h1>                     

    <section class="container-vitrine">

        <div class="servicos-vitrine">
            <a href="/diarista"><img src="images/diarista.png">
                <div class="texto-servicos">
                    <p class="titulo-servicos">DIARISTA | 49,9</p>
                    <p>COMPRE AGORA</p>
                </div>
            </a>
        </div>

        <div class="servicos-vitrine">
            <a href="#"><img src="images/encanador.png">
                <div class="texto-servicos">
                    <p class="titulo-servicos">ENCANADOR | 50,9</p>
                    <p>COMPRE AGORA</p>
                </div>
            </a>
        </div>

        <div class="servicos-vitrine">
            <a href="#"><img src="images/dedetizador.jpg">
                <div class="texto-servicos">
                    <p class="titulo-servicos">DEDETIZADOR | 51,9</p>
                    <p>COMPRE AGORA</p>
                </div>
            </a>
        </div>

        <div class="servicos-vitrine">
            <a href="#"><img src="images/eletricista.jpg">
                <div class="texto-servicos">
                    <p class="titulo-servicos">ELETRICISTA | 52,9</p>
                    <p>COMPRE AGORA</p>
                </div>
            </a>
        </div>

        <div class="servicos-vitrine">
            <a href="#"><img src="images/Pedreiro.jpg">
                <div class="texto-servicos">
                    <p class="titulo-servicos">PEDREIRO | 53,9</p>
                    <p>COMPRE AGORA</p>
                </div>
            </a>
        </div>

        <div class="servicos-vitrine">
            <a href="#"><img src="images/jardineiro.jpg">
                <div class="texto-servicos">
                    <p class="titulo-servicos">JARDINEIRO | 54,9</p>
                    <p>COMPRE AGORA</p>
                </div>
            </a>
        </div>

        <div class="servicos-vitrine">
            <a href="#"><img src="images/chaveiro.jpg">
                <div class="texto-servicos">
                    <p class="titulo-servicos">CHAVEIRO | 55,9</p>
                    <p>COMPRE AGORA</p>
                </div>
            </a>
        </div>

        <div class="servicos-vitrine">
            <a href="#"><img src="images/montador.jpg">
                <div class="texto-servicos">
                    <p class="titulo-servicos">MONTADOR | 56,9</p>
                    <p>COMPRE AGORA</p>
                </div>
            </a>
        </div>
    </section>
    
</main>



<%- include('../partials/footer') %>