<html>
  <!-- <header> -->
    <%- include('../../partials/header') %>
    <link rel="stylesheet" href="/stylesheets/adminDashboard.css">
  <!-- </header> -->
  <body>

    <main>

        <h1>
            ADMIN DASHBOARD
        </h1>

        <div id="container-options">
            
            <a href="/admin/userlist">
                <div class="options">
                    <p>LISTA DE USUÁRIOS</p>                
                </div>
            </a>
            
            <a href="/admin/servicelist">
                <div class="options">
                    <p>LISTA DE SERVIÇOS</p>   
                </div>
            </a>
            
        </div>

    </main>
    
  </body>

  <%- include('../../partials/footer') %>
</html>